<div class="pie">
    <footer class="contacto seccion-oscura d-flex flex-column align-items-center justify-content-center">
        <div class="container">
            <div class="container text-center d-flex justify-content-evenly">
                <div class="row">
                    <div class="col-12 col-md-12">
                        ¿Te apetece seguirnos en nuestras redes sociales?
                    </div>
                    <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a href="https://www.tumblr.com/" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-image-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p class="copyright">Todos los derechos reservados (2023) &#169;</p>
        </div>
    </footer>
</div>