<div class="container col-12 col-md-10 my-5">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Misión
        </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p> Nuestra misión es conservar los sabores 100% Japoneses en la variedad de alimentos que les ofrecemos a los comensales, sosteniendo un exquisito y auténtico sabor de la región que tanto caracterizan los alimentos nipones. Siempre buscando
                        la satisfacción total de nuestros clientes.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Visión
        </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p> Ser el mejor restaurante de alimentos y bebidas Japonesas de la región, capaz de desarrollar en cada uno de nuestros colaboradores; su capacidad creativa a favor de los clientes. Tener un nivel de vida mejor para todos nuestros colaboradores
                        en beneficio de la organización. Lograr una empresa altamente productiva, organizada, conservadora, competitiva y dedicada a la satisfacción de los comensales.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Valores
        </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <li>Excelencia
                            <i class="bi bi-magic"></i>
                        </li>
                        <li>Calidad
                            <i class="bi bi-arrow-up-right-square"></i>
                        </li>
                        <li>Responsabilidad
                            <i class="bi bi-bookmark-check"></i>
                        </li>
                        <li>Confianza
                            <i class="bi bi-check-all"></i>
                        </li>
                        <li>Honestidad
                            <i class="bi bi-peace-fill"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>